<% include includes/header.ejs %>

  <h1><%= album.title %></h1>
  <em>by <%= album.artist %></em>

  <h2>Reviews</h2>
  <% if (user) { %>
    <form action="/albums/<%= album.id %>/new_review">
      <input type="submit" value="Add Review">
    </form>
  <% } %>
  <% if (reviews.length > 0) { %>
    <% reviews.forEach(function(review) { %>
      <div>
        <h5><a href="/users/<%= review.reviewer_id %>"><%= review.reviewer %></a></h5>
        <span><%= review.creation_date %></span>
        <div>
          <%= review.review_body %>
        </div>
      </div>
    <% }) %>
  <% } else { %>
    <div>
      There are no reviews for this album yet
    </div>
  <% } %>

<% include includes/footer.ejs %>
