<% include includes/header.ejs %>

  <div class="container">
    <div class="row">
      <h2><%= album.title %></h1>
      <em>by <%= album.artist %></em>
    </div>
      <h3>Reviews</h3>
      <% if (user) { %>
        <a class="waves-effect waves-light btn" href="/albums/<%= album.id %>/new_review">Add a review</a>
      <% } %>
    <ul class="collection">
      <% if (reviews.length > 0) { %>
        <% reviews.forEach((review) => { %>
          <li class="collection-item avatar">
            <a href="/users/<%= review.reviewer_id %>">
              <img src="" class="circle" onerror="this.onerror=null;this.src='https://lorempixel.com/100/190/nature/6';">
              <span class="title">
                <%= review.reviewer  %>
              </span>
            </a>
            <span class="right"><%= review.creation_date %></span>
            <p>
              <%= review.review_body %>
            </p>
          </li>
        <% }) %>
      <% } else { %>
        <li class="collection-item">
          <h5>There are no reviews for this album yet</h5>
        </li>
      <% } %>
    </ul>
  </div>

<% include includes/footer.ejs %>
